.u-center-text { text-align: center !important;}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-bottom-medium { 
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-small { margin-bottom: 1.5rem !important;}

.u-padding-bottom {padding-bottom: 1rem !important;}

.u-padding-bottom-zero {padding-bottom: 0 !important;}

.u-margin-top-1 {
    margin-top: 4rem !important;
}
.u-margin-top-2 {
    margin-top: 2rem !important;
}

